{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="main-slider main-slider__two">
    <div class="main-slider__line-1"></div><!-- /.main-slider__line-1 -->
    <div class="main-slider__line-2"></div><!-- /.main-slider__line-2 -->
    <div class="main-slider__line-3"></div><!-- /.main-slider__line-3 -->
    <div class="main-slider__line-4"></div><!-- /.main-slider__line-4 -->
    <div class="main-slider__line-5"></div><!-- /.main-slider__line-5 -->
    <div class="main-slider__line-6"></div><!-- /.main-slider__line-6 -->
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
                "slidesPerView": 1,
                "loop": true,
                "effect": "fade",
                "autoplay": {
                    "delay": 5000
                },
                "navigation": {
                    "nextEl": "#main-slider__swiper-button-next",
                    "prevEl": "#main-slider__swiper-button-prev"
                }
            }'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer"
                     style="background-image: {% static 'images/main-slider/main-slider-2-1.jpg' %});">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <span class="tagline">Добро пожаловать на Агрикон</span>
                            <h2>Новости <br>сельского хозяйства <br>
                                Крыма</h2>
                            <a href="#" class=" thm-btn">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-home-two">
    <div class="container">
        <div class="row top-row">
            <div class="col-lg-6">
                <div class="block-title">
                    <div class="block-title__image"></div>
                    <p>Все новости можно посмотреть в Блоге!</p>
                    <h3>Последние новости</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="block-text">Lorem ipsum is simply free text
                    available. Aenean eu leo quam. Pellentesque ornare
                    sem lacinia
                    quam venenatis vestibulum. Aenean lacinia bibendum nulla
                    sed consectetur.</p>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-12 col-lg-4">
                    <div class="blog-card">
                        <div class="blog-card__image">
                            <img src="{{ post.image.url }}" alt="Best Way to Do Eco and Agriculture">
                            <a href="{{ post.get_absolute_url }}"></a>
                        </div>
                        <div class="blog-card__content">
                            <div class="blog-card__date">{{ post.created_at|date:"j" }} {{ post.created_at|date:"E" }}</div>
                            <div class="blog-card__meta">
                                <a href="#"><i class="far fa-user-circle"></i>Автор: {{ post.author }}</a>
                                <a href="#"> Категория: {{ post.category }}</a>
                            </div>
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <a href="{{ post.get_absolute_url }}" class="thm-btn">Читать далее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="call-to-action jarallax" data-jarallax data-speed="0.3"
             data-imgPosition="-80% 50%">
        <img class="call-to-action__bg jarallax-img" src="{% static 'images/backgrounds/cta-1-bg-1.jpg' %}" alt="parallax-image"/>
        <div class="container">
            <div class="call-to-action__content">
                <i class="call-to-action__icon agrikon-icon-agriculture-2"></i>
                <h3>We’re popular leader in agriculture market globally</h3>
            </div>
            <div class="call-to-action__button">
                <a href="services.html" class="thm-btn">Discover More</a>
            </div>
        </div>
    </section>
<div class="container"><br><br><br></div>
{% endblock content %}