{% extends 'base.html' %}

{% block title %}Блог{% endblock title %}

{% block content %}
<section class="blog-grid">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-6 col-lg-4">
                <div class="blog-card">
                    <img src="{{ post.image.url }}" width="370">
                    <div class="blog-card__content">
                        <div class="blog-card__date">{{ post.created_at|date:"j" }} {{ post.created_at|date:"E" }}</div>
                        <div class="blog-card__meta">
                            <a href="blog-details.html"><i class="far fa-user-circle"></i>Автор: {{ post.author }}</a>
                            <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                        </div>
                        <h3><a href="blog-details.html">{{ post.title }}</a></h3>
                        <a href="{{ post.get_absolute_url }}" class="thm-btn">Читать далее</a><!-- /.thm-btn -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center more-btn__box">
            <a href="#" class="thm-btn">Load More</a>
        </div>
    </div>
</section>
{% endblock content %}